<!DOCTYPE html>
<html lang="en">

<head>
	<% include css %>

</head>
<h1>Is <%= num1%>   </h1>
<h1>:3</h1>
<div id="form">
	<div class="fish" id="fish"></div>

	<div class="fish" id="fish2"></div>

	<form id="waterform" method="post">
	</form>

	<footer>

	</footer>

	</body>

</html>
