<% include css %>

    <h1>Session Count  = <%= count%></h1>

    <div id="form">
        <div class="fish" id="fish"></div>

        <div class="fish" id="fish2"></div>

        <form id="waterform" method="post">
        </form>
