<% include css %>
<title>Show Session</title>
    <h1>Session Count  = <%= count-1%></h1>

    <div id="form">
        <div class="fish" id="fish"></div>

        <div class="fish" id="fish2"></div>

        <form id="waterform" method="post">
        </form>
